body {
    background-color: black;
    color: white;
    
    align-items: center;
    display: flex;
    font-family: 'Nunito', sans-serif;
    background-image: url("images/wallpaper.png");
    background-size: cover;

}

.largeur {
    width: 800px;
}

.align-right {
    text-align: right;
}

.center {
    margin-right: auto;
    margin-left: auto;
}

.titre {
    font-size: 50px;
    padding-left: 20px;
    font-family: 'Alegreya Sans', sans-serif;
}

.inline {
    display: flex;
    align-items: center;
}

.texte {
    line-height: 2.5;
}

.bouton {
    background-color: white;
    color: black;
    width: 350px;
    height: 50px;
    border-radius: 30px;
    font-weight: normal;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 70px;
}

.image {
    margin-top: 10px;
}

.table {
    display: flex;
    flex-wrap: wrap;
}
.logo {
    height: 40px;
    vertical-align: middle;
    margin-left: 10px;
    height: 85px;
    width: 70px;
}

.colonne1, .colonne2 {
    width: 400px;
}

.soustitre{
    font-size: 32px;
    font-family: 'Alegreya Sans', sans-serif;
}

@media (max-width: 800px){
    .colonne2{
        width: 160px;
    }
    .colonne1{
        width : 100%;

    }
    .bouton{
        width: 100%;
        margin-top: 20px;
    }
    .table{
        flex-direction: column-reverse;

    } 
    .iphone{
        width: 160px;
    }
    body{
        align-items: end;
    }
    .logo{
        display: none;
    }
    .titre{
        margin-top: 0px;
        margin-bottom: 18px;
        margin-left: -20px;
    }
    .texte {
        line-height: 1.5;
    }
    .soustitre{
        line-height: 0;
    }
}