body {
    background-color: black;
    color: white;
    
    align-items: center;
    display: flex;
    font-family: 'Nunito', sans-serif;
    background-image: url("images/wallpaper.png");
    background-size: cover;

}

.largeur {
    width: 800px;
}

.align-right {
    text-align: right;
}

.center {
    margin-right: auto;
    margin-left: auto;
}

.titre {
    font-size: 50px;
    padding-left: 20px;
    font-family: 'Alegreya Sans', sans-serif;
}

.login .titre, .reset_password .titre{
    width: 600px;
}

.inline {
    display: flex;
    align-items: center;
}

.texte {
    line-height: 2.5;
}

.bouton {
    background-color: white;
    color: black;
    width: 350px;
    height: 50px;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 70px;
    font-weight: 500;
}

.image {
    margin-top: 10px;
}

.table {
    display: flex;
    flex-wrap: wrap;
}
.logo {
    height: 40px;
    vertical-align: middle;
    margin-left: 10px;
    height: 85px;
    width: 70px;
}

.colonne1, .colonne2 {
    width: 400px;
}

.account .colonne1, .account .colonne2 {
    width: fit-content;
}

.soustitre{
    font-size: 32px;
    font-family: 'Alegreya Sans', sans-serif;
}
.logo_black{
    height: 27px;
    margin-right: 8px;
}
.connexion{
    text-align: center;
    width: 350px;
    margin-top: 10px;
    color: white;
}
.connexion a{
    color: white;
}
.whitebox{
    background-color: white;
    width: 326px;
    height: 326px;
    border-radius: 32px;
    color: black;
    text-align: center;
    line-height: 1;
    display: flex;
    flex-direction: column;
    gap:10px;

}
.reset_password .whitebox {
    height: 220px;
}

.login, .reset_password{
    display:block;
    width: 100%;
}
.avatar{
    align-items: center;
}
.text{
    border-radius: 20px;

}
.login .bouton, .reset_password .bouton{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 1px;
    font-weight: 500;
    width: 300px;  
    margin-bottom: 10px;  
}
.avatar{
    height: 50px;
    width: 50px;
    margin-top: -20px;
    margin-bottom: 20px;
}
.field input{
    border-radius: 20px;
    border-style: none;
    background-color: #D9D9D9;
    height: 27px;
}
.field{
    text-align: left;
    width: 200px;
}
.link a{
    color: black;
    margin-top: 10px;

}
.resetpsw .bouton{
    margin-top: 20;
}
.spacer{
    flex-grow: 1;
}

.tickets{
    width:138px;
}

.blackbloxe{
    background-color: black;
    color: rgb(0, 0, 0);
    
    align-items: center;
    display: flex;
    font-family: 'Nunito', sans-serif;
    background-image: url("images/wallpaper.png");
    background-size: cover;
}
.logout{
    color: red;
}
.account .soustitre h5{
    margin-top: 0px;
    margin-bottom: 6px;
} 

@media (max-width: 800px){
    .colonne2{
        width: 160px;
    }
    .colonne1{
        width : 100%;

    }
    .bouton{
        width: 100%;
        margin-top: 20px;
        height: 65px;
    }
    .table{
        flex-direction: column-reverse;

    } 
    .iphone{
        width: 160px;
    }
    body{
        align-items: end;
    }
    .logo{
        display: none;
    }
    .titre{
        margin-top: 0px;
        margin-bottom: 18px;
        margin-left: -20px;
    }
    .texte {
        line-height: 1.5;
    }
    .soustitre{
        line-height: 0;
    }
    
}